// variables

$main:        #e6ba2b;
$white:       #ffffff;
$grey:        #3c3c3c;
$grey-heading:#393939;
$grey-text:   #8d8d8d;
$grey-desc:   #bdbdbd;

// global styles

* {
  box-sizing: border-box;
}

body {
  font-family: "brandon-grotusque", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 1100px;
  max-width: 90%;
  margin: 0 auto;  
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.right {
  right: 0;
  left: auto;
}

#banner {
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;

  .banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
  
      a {
        padding: 0 2em;
        font-size: .7em;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 100px;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
  
        &:hover {
          color: $main;
        }
      }
    }
  
    .banner-content {    
      .title, .sub-title{
        color: $white;
        text-align: center;
      }
  
      .title {
        max-width: 90%;
        font-size: 3.75em;
        line-height: 1.25em;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 auto 14px auto;
      }
  
      .sub-title {
        font-family: "Crete Round", sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        font-style: italic;
        margin: 0 auto 2rem auto;
        line-height: 60px;
      }
  
      .button-wrapper { 
        text-align: center;
        margin: 3rem 0;
  
        .button {
          font-size: 0.8em;
          font-weight: 600;
          padding: 1em 1.5em;
          color: $white;
          border: 2px solid $white;
          border-color: $white;
          background-color: transparent;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            border-color: $main;
            background-color: $main;
            transition: background-color .3s ease-in-out;
          }
        }
      }
    }

    .slider-buttons-container {
      text-align: center;

      #slider_buttons {
        list-style: none;
        padding: 0;
        margin: 2em 0;
    
        a {
          text-decoration: none;
        }
    
        li {
          width: 9px;
          height: 9px;
          margin: 0 .2em;
          position: relative;
          border-radius: 100%;
          display: inline-block;
          background-color: $grey-desc;
        }
    
        .current {
          background-color: $white;
        }
      }
    }
  }
  
  .slide-control {
    top: 0;
    width: 8%;
    height: 100%;
    text-shadow: none;
    position: absolute;
    z-index: 2;
    margin: 0;
    outline: 0;
    cursor: pointer;

    .slide-arrow {
      position: absolute;
      top: 50%;
      margin-top: -25px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 18px;
      color: #fff;
      background-color: #a6a6a6;
      border: 1px solid transparent;
      text-align: center;
      z-index: 10;
      transition: background-color .3s ease-in-out,color .3s ease-in-out,border-color .3s ease-in-out;
      box-sizing: border-box;

      &:hover {
        background-color: #393939;
      }
    }

    .prev-slide{
      left: 0;
    }

    .next-slide {
      right: 0;
      left: auto;
    }
  }
}